<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">
    <Properties>
        <Property name="APPLICATION_LOGS_ROLLING_FILE_BASE_DIR">logs/application-logs-rolling-file-base-dir-logs</Property>
        <Property name="REQUESTS_LOGS_ROLLING_FILE_BASE_DIR">logs/requests-logs-rolling-file-base-dir-logs</Property>
        <Property name="TRACE_LOGS_ROLLING_FILE_BASE_DIR">logs/trace-logs-rolling-file-base-dir-logs</Property>
    </Properties>
    <Appenders>
        <Console name="CONSOLE"/>
        <RollingFile name="APPLICATION_LOGS_ROLLING_FILE" fileName="${APPLICATION_LOGS_ROLLING_FILE_BASE_DIR}/application-logs-${bundle:application:info.build.archiveBaseName}.log" filePattern="${APPLICATION_LOGS_ROLLING_FILE_BASE_DIR}/application-logs-${bundle:application:info.build.archiveBaseName}-%d{yyyy-MM-dd-HH}-%i.log.gz">
            <PatternLayout pattern="APP_ARCHIVE_NAME-$${bundle:application:info.build.archiveBaseName} THREAD_NAME-%t CORRELATION_ID-$${ctx:correlation.id} ACTIVITY_ID-$${ctx:activity.id} DATE-$${date:yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy />
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${APPLICATION_LOGS_ROLLING_FILE_BASE_DIR}" maxDepth="1">
                    <IfAll>
                        <IfAccumulatedFileCount exceeds="10"/>
                    </IfAll>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="REQUESTS_LOGS_ROLLING_FILE" fileName="${REQUESTS_LOGS_ROLLING_FILE_BASE_DIR}/request-logs-${bundle:application:info.build.archiveBaseName}.log" filePattern="${REQUESTS_LOGS_ROLLING_FILE_BASE_DIR}/request-logs-${bundle:application:info.build.archiveBaseName}-%d{yyyy-MM-dd-HH}-%i.log.gz">
            <PatternLayout pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${REQUESTS_LOGS_ROLLING_FILE_BASE_DIR}" maxDepth="1">
                    <IfAll>
                        <IfAccumulatedFileCount exceeds="10"/>
                    </IfAll>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="TRACE_LOGS_ROLLING_FILE" fileName="${TRACE_LOGS_ROLLING_FILE_BASE_DIR}/trace-logs-${bundle:application:info.build.archiveBaseName}.log" filePattern="${TRACE_LOGS_ROLLING_FILE_BASE_DIR}/trace-logs-${bundle:application:info.build.archiveBaseName}-%d{yyyy-MM-dd-HH}-%i.log.gz">
            <PatternLayout pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${TRACE_LOGS_ROLLING_FILE_BASE_DIR}" maxDepth="1">
                    <IfAll>
                        <IfAccumulatedFileCount exceeds="10"/>
                    </IfAll>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <Elasticsearch name="APPLICATION_LOGS_ELASTICSEARCH">
            <IndexName indexName="java-application-logs-${bundle:application:info.build.archiveBaseName}"/>
            <JsonLayout compact="true" stacktraceAsString="true" objectMessageAsJsonObject="false">
                <KeyValuePair key="appArchiveName" value="${bundle:application:info.build.archiveBaseName}"/>
                <KeyValuePair key="activityId" value="$${ctx:activity.id}"/>
                <KeyValuePair key="correlationId" value="$${ctx:correlation.id}"/>
                <KeyValuePair key="logDateStamp" value="$${date:yyyy-MM-dd HH:mm:ss.SSS}" />
            </JsonLayout>
            <AsyncBatchDelivery batchSize="1000" deliveryInterval="5000">
                <IndexTemplate name="java-application-logs-${bundle:application:info.build.archiveBaseName}" path="classpath:elasticsearch-index-templates/common-java-application-logs-index-template.json"/>
                <JestHttp serverUris="${bundle:application:spring.elasticsearch.jest.uris}" mappingType="_doc"/>
            </AsyncBatchDelivery>
        </Elasticsearch>

        <Elasticsearch name="SERVICE_LOGS_ELASTICSEARCH">
            <IndexName indexName="java-service-logs-${bundle:application:info.build.archiveBaseName}"/>
            <PatternLayout pattern="%m%n"/>
            <AsyncBatchDelivery batchSize="1000" deliveryInterval="5000">
                <IndexTemplate name="java-service-logs-${bundle:application:info.build.archiveBaseName}" path="classpath:elasticsearch-index-templates/common-java-service-logs-index-template.json"/>
                <JestHttp serverUris="${bundle:application:spring.elasticsearch.jest.uris}" mappingType="_doc"/>
            </AsyncBatchDelivery>
        </Elasticsearch>

    </Appenders>
    <Loggers>
        <Root level="info" includeLocation="true">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="APPLICATION_LOGS_ROLLING_FILE"/>
            <AppenderRef ref="APPLICATION_LOGS_ELASTICSEARCH"/>
        </Root>
        <AsyncLogger name="requests_logs" level="TRACE" additivity="false" includeLocation="true">
            <AppenderRef ref="REQUESTS_LOGS_ROLLING_FILE"/>
            <AppenderRef ref="SERVICE_LOGS_ELASTICSEARCH"/>
        </AsyncLogger>
        <AsyncLogger name="trace_logs" level="TRACE" additivity="false" includeLocation="true">
            <AppenderRef ref="TRACE_LOGS_ROLLING_FILE"/>
            <AppenderRef ref="SERVICE_LOGS_ELASTICSEARCH"/>
        </AsyncLogger>
    </Loggers>
</Configuration>