<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error" packages="org.sample.actuatorSwaggerCRUDSample.configuration.log4j2.plugins">
    <Properties>
        <property name="currentDate">${date:yyyy-MM-dd}</property>
    </Properties>
    <Appenders>
        <RollingFile name="APPLICATION_LOGS" fileName="application-${currentDate}.log" filePattern="application-${currentDate}-rolled.log">
            <JsonLayout compact="false" eventEol="true" stacktraceAsString="false">
                <KeyValuePair key="correlationId" value="$${ctlu:correlation.id}"/>
                <KeyValuePair key="traceOrder" value="$${ctlu:trace.order}"/>
            </JsonLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="1GB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="REQUESTS_LOGS" fileName="request-${currentDate}.log" filePattern="request-${currentDate}-rolled.log">
            <JsonLayout compact="false" eventEol="true" stacktraceAsString="false" objectMessageAsJsonObject="true">
                <KeyValuePair key="activityId" value="$${ctlu:activity.id}"/>
                <KeyValuePair key="correlationId" value="$${ctlu:correlation.id}"/>
                <KeyValuePair key="source" value="$${ctlu:source.class.method}"/>
                <KeyValuePair key="traceOrder" value="$${ctlu:trace.order}"/>
            </JsonLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="1GB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="TRACE_LOGS" fileName="trace-${currentDate}.log" filePattern="trace-${currentDate}-rolled.log">
            <JsonLayout compact="false" eventEol="true" stacktraceAsString="false" objectMessageAsJsonObject="true">
                <KeyValuePair key="activityId" value="$${ctlu:activity.id}"/>
                <KeyValuePair key="correlationId" value="$${ctlu:correlation.id}"/>
                <KeyValuePair key="source" value="$${ctlu:source.class.method}"/>
                <KeyValuePair key="traceOrder" value="$${ctlu:trace.order}"/>
            </JsonLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="1GB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="ALL" includeLocation="true">
            <AppenderRef ref="APPLICATION_LOGS"/>
        </Root>
        <AsyncLogger   name="application_logs" level="ALL" additivity="false" includeLocation="true">
            <AppenderRef ref="APPLICATION_LOGS" />
        </AsyncLogger>
        <AsyncLogger name="requests_logs" level="ALL" additivity="false" includeLocation="true">
            <AppenderRef ref="REQUESTS_LOGS" />
        </AsyncLogger>
        <AsyncLogger   name="trace_logs" level="ALL" additivity="false" includeLocation="true">
            <AppenderRef ref="TRACE_LOGS" />
        </AsyncLogger>
    </Loggers>
</Configuration>